<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Success</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="bg-dark">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" th:href="@{/app}">Novel Outliner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="#" th:href="@{/}">Story Structures</a>
                </li>
                <li class="nav-item"><a class="nav-link active" href="#" th:href="@{/app}">Outliner</a></li>

            </ul>
        </div>
    </div>
</nav>
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Generated Outline:</h1>

                </div>
            </div>
        </div>
    </div>
</header>
<div class="container mt-5 bg-dark">
    <h2 class="text-white" th:text="${project.title}">Project Name</h2>
    <p class="text-white">Target Word Count: <span th:text="${project.targetTotalWordCount}">0</span></p>
    <p class="text-white">You selected beat template: <strong th:text="${project.beatTemplate.title}"></strong></p>

    <a href="/app">Go Back</a>
    <hr/>

    <h3 class="text-white">Project Chapters</h3>
    <hr class="bg-dark">
    <table class="table table-striped bg-dark">
        <thead>
        <tr>
            <th class="text-white">Chapter</th>
            <th class="text-white">Target Word Count</th>
            <th class="text-white">Story Segment</th>
        </tr>
        </thead>
        <tbody>
        <!-- This is how you traverse the chapters list -->
        <tr th:each="chapter : ${project.chapters}">
            <td class="text-white" th:text="${chapter.sequenceOrder}">1</td>
            <td class="text-white" th:text="${chapter.wordCount}">500</td>
            <!-- Using #temporals for nice date formatting -->
            <td class="text-white">
                <span th:if="${chapter.beatSegment != null}"
                      th:text="${chapter.beatSegment.title}">
                    Inciting Incident
                </span>
                <span th:unless="${chapter.beatSegment != null}" class="text-muted">
                    Unassigned
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<!-- * *                               SB Forms JS                               * *-->
<!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>