<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" >
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Story Structures</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body class="bg-dark">
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" th:href="@{/app}">Novel Outliner</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#" th:href="@{/}">Story Structures</a>
                </li>
                <li class="nav-item"><a class="nav-link" href="#" th:href="@{/app}">Outliner</a></li>
<!--                <li class="nav-item"><a class="nav-link" href="#!">Contact</a></li>-->
<!--                <li class="nav-item"><a class="nav-link" href="#!">Services</a></li>-->
            </ul>
        </div>
    </div>
</nav>

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Story Structures</h1>
                    <p class="lead text-white-50 mb-4">Explore the story structures below, and click Outline once you decide which one you'd like to outline with.</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">

                        <a class="btn btn-outline-light btn-lg px-4" href="https://www.mikemason.dev">www.mikemason.dev</a>
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" th:href="@{/app}">Outline</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- Features section-->

    <div class="container px-5 my-5">
        <div class="row gx-5">
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-signpost-2"></i></div>
                <h2 class="h4 fw-bolder text-white">Hero's Journey</h2>
                <p class="text-white">The classic 12-stage narrative arc. Follows a protagonist as they are pulled from their ordinary life into an unfamiliar realm of adventure, where they must overcome trials, face their greatest fears, and return transformed with a gift to improve their world.</p>
                <a class="text-decoration-none" href="https://www.storystructures.com/explore/herojourney">
                    Learn More
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                <h2 class="h4 fw-bolder text-white">Three Act</h2>
                <p class="text-white">The foundational narrative framework. Raises the stakes through a series of obstacles and a major midpoint shift, and culminates in a climactic showdown where the story's core conflict is finally resolved.</p>
                <a class="text-decoration-none" href="https://www.storystructures.com/explore/threeact">
                    Learn More
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-grid"></i></div>
                <h2 class="h4 fw-bolder text-white">Four Act</h2>
                <p class="text-white">A narrative framework that divides a story into four distinct quarters. This structure provides clear pacing milestones to keep the stakes rising and prevent the middle of the story from sagging.</p>
                <a class="text-decoration-none" href="https://www.storystructures.com/explore/fouract">
                    Learn More
                    <i class="bi bi-arrow-right"></i>
                </a>
            </div>

        </div>
    </div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="js/scripts.js"></script>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>